header {
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-toggle {
    display: none;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.875rem;
    font-family: "Poppins", sans-serif;

    li {
      cursor: pointer;
      font-weight: 500;
      font-size: 1.25rem;
      position: relative;

      a {
        text-decoration: none;
        color: #000000;
        transition: all 0.3s ease;
        display: inline-block;

        &:hover {
          color: #2d2d2d;
        }

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: -5px;
          left: 0;
          background-color: #2d2d2d;
          transition: width 0.3s ease-out;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    & > img:first-child {
      width: 7.5rem;
    }

    .menu-toggle {
      display: block;
      cursor: pointer;
      width: 1.25rem;
      height: 0.875rem;
      z-index: 100;
    }

    ul {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.95);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      z-index: 90;
      transition: transform 0.3s ease-in-out;
      transform: translateX(100%);
    }

    ul.is-open {
      display: flex;
      transform: translateX(0);
    }

    ul li {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0.5rem 0;
    }
  }
}
