.tip-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: Roboto, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #2d2d2d;
    padding: 3.875rem 0;
    margin: 0;
  }

  > div {
    display: flex;
    justify-content: center;
    gap: 1.563rem;
    flex-wrap: wrap;

    img {
      cursor: pointer;
      width: 20rem;
      height: auto;

      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-0.2rem) scale(1.05);
      }
    }
  }
}

@media (max-width: 1024px) {
  .tip-grid {
    h2 {
      font-size: 2rem;
      padding: 3rem 0;
    }

    > div {
      margin: 0 auto;
      gap: 1.25rem;

      img {
        width: 16rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .tip-grid {
    h2 {
      font-size: 1.25rem;
      padding: 2.5rem 0;
    }

    > div {
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      img {
        width: 10.625rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .tip-grid {
    h2 {
      font-size: 1.1rem;
      padding: 2rem 0;
    }

    > div {
      gap: 0.75rem;

      img {
        width: 10.625rem;
        min-width: 8rem;
      }
    }
  }
}
