.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3.125rem 4.125rem;

  h2 {
    font-family: Roboto, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #2d2d2d;
    padding: 3.875rem 0;
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .news-section {
    h2 {
      font-size: 1.25rem;
      padding: 2.5rem 0;
    }

    img {
      width: 22.813rem;
      height: 14.5rem;
    }
  }
}
