.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;

  height: auto;

  overflow-x: hidden;

  img {
    width: 100%;
    height: 46.875rem;
    height: auto;
    display: block;
  }
}
